@media (max-width: 1300px) {
    .container {
        max-width: 1170px;
    }

    .nice_title {
        height: 170px;
        .title {
            top: 55px;            
            font-size: 52px;
        }
        .description {
            bottom: -35px;
            font-size: 30px;
        }
    }
    .orange_block_info {
        li {
            font-size: 22px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    .info {
        .item {
            margin: 0 25px;
        }
    }
    .content {
        .logo_rock {
            right: 20px;
            top: -80px;
            img {
                display: block;
                margin: 0 auto;
                width: 70%;
            }
        }
    }
    .nice_title {
        height: 150px;
        .title {
            font-size: 42px;
            top: 51px;
        }
        .description {
            font-size: 26px;
            bottom: -25px;
        }
    }
    .orange_block_info {
        padding: 10px;
        li {
            font-size: 18px;
        }
        .title-center {
            span {
                font-size: 24px;
            }
        }
    }
    .btn_submit {
        padding: 10px 9px;
        color: #fff;
        font-size: 17px;
    }

    .inputs__row {        
        /* row 1 */
        .input_block:nth-child(1) {
            flex-basis: 25%;
        }
        .input_block:nth-child(2) {
            flex-basis: 25%;
        }
        .input_block:nth-child(3) {
            flex-basis: 15%;
        }
        .input_block:nth-child(4) {
            flex-basis: 25%;
        }
        
        /* row 2 */
        .input_block:nth-child(5) {
            flex-basis: 30%;
        }
        .input_block:nth-child(6) {
            flex-basis: 30%;
        }
        .input_block:nth-child(7) {
            flex-basis: 32%;
        }
        
        /* row 3 */
        .input_block:nth-child(8) {
            flex-basis: 20%;
        }
        .input_block:nth-child(9) {
            flex-basis: 74%;
        }
        /* row 4 */
        .input_block:nth-child(10) {
            flex-basis: 38%;
        }
        .input_block:nth-child(11) {
            flex-basis: 20%;
        }
        .input_block:nth-child(12) {
            flex-basis: 34%;
        }
        /* row 5 */
        .input_block:nth-child(13) {
            flex-basis: 96%;
        }
    
    }
    .flex-form {
        .upload_file {
            height: 152px;
            padding: 10px 4px;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .info {
        /* flex-direction: column;
        align-items: center;
        max-width: 120px;
        margin-right: auto; */
        justify-content: flex-end;
        .item {
            font-size: 20px;
            /* margin: 8px 0; */
        }
    }
    .content {        
        .row {
            flex-direction: row
        }
    }
    .header__text {
        display: none;
    }
    .header_text_mobile {
        display: block;
        color: #222;
        font-size: 20px;
        text-align: center;
        font-weight: 700;    
    }
    .nice_title {
        height: 100%;
        width: 100%;
        background-size: contain;
        margin-top: 0;
        .title {
            top: 34px;
            font-size: 30px;            
        }
        .description {
            bottom: -25px;
            font-size: 20px;
        }
    }
    .row {
        .col1 {            
            order: 2
        }
        .col2 {
            order: 1
        }        
    }
    .mt90 {
        margin-top: 190px;
    }
    .orange_block_info {        
        ul {

        }
    }
    .content {
        .logo_rock img {
            position: relative;
            right: 10px;
        }
    }
}

@media (max-width: 920px) {
    .row2 {
        flex-wrap: wrap;
        .col1, .col2 {
            flex-basis: 100%;
        }
    }
    .orange_block_info {
        max-width: 450px;
        margin-bottom: 50px;
    }
}

.nice_title-mobile {
    display: none;
}

@media (max-width: 820px) {
    .info {
        .item {
            margin: 0 10px;
        }
    }
    .nice_title-desktop {
        display: none;
    }
    .nice_title-mobile {
        display: block;
        height: 100px;
        width: 60%;        
        margin: 0 auto 80px;
        .title {
            font-size: 28px;
        }
    }
    .row {
        .nice_title-mobile {
            order: 1
        }
        .col2 {
            order: 2
        }
        .col1 {
            order: 3
        }
    }
    .mt90 {
        margin-top: 140px;
    }
}

@media (max-width: 740px) {
    .info {
        flex-direction: column;
        .item {
            margin: 8px 0;
        }
    }
    .mt90 {
        margin-top: 20px;
    }
    .header_text_mobile {
        font-size: 16px;
    }
    .header .logo img {
        width: 90px;
    }
    .content {
        .logo_rock img {
            right: -30px;
            top: 23px;
        }
    }
}

@media (max-width: 620px) {
    .nice_title-mobile {
        width: 80%;
        margin: 20px auto 80px;
    }
    .info {
        float: left;
        margin-left: 20px;
    }

    .flex-form {
        flex-wrap: wrap;
        .uploads {
            order: 2;
            flex-basis: 100%;
        }
        .inputs {
            order: 1;
            flex-basis: 100%;
        }
        .upload_file {
            border-width: 2px;
            height: 115px;
        }
    }

    .input_block {
        input, textarea {
            border-width: 2px;  
        }
    }
    .header {
        .item:first-child img {
            width: 70%;
            float: left;
        }
    }
    .cols-wrap {
        margin-bottom: 20px;
        .col50, .col100 {
            flex-basis: 30%;
            margin: 0 1%;
            align-items: center;
        }
    }
    .btn_submit {
        padding: 10px 20px;
        color: #fff;
        font-size: 24px;
    }
    .checkbox-container {
        .checkmark {
            border-width: 2px;
            &:after {
                left: 5px;
                top: 2px;
            }
        }
    }

}

@media (max-width: 580px) {
    .row {
        .col1, .col2 {
            flex-basis: 50%;
        }
    }
    .row2 {
        .col1, .col2 {
            flex-basis: 100%;
        }
    }
}

@media (max-width: 520px) {
    .content {
        .logo_rock img {
            width: 60%;
            right: -90px;
            top: 53px;
        }
    }
    .input_block {
        input {
            height: 40px;
        }
        label {
            top: 12px;
        }
    }
    .checkbox-container {
        span:first-child {
            margin-right: 0;
            display: block;
            text-align: center;
        }
        .checkmark {
            left: 0;
            margin: auto;
            top: -22px;
        }
    }
    .inputs__row {        
        /* row 1 */
        .input_block:nth-child(1) {
            flex-basis: 38%;
        }
        .input_block:nth-child(2) {
            flex-basis: 58%;
        }
        /* row 2 */
        .input_block:nth-child(3) {
            flex-basis: 31%;
        }
        .input_block:nth-child(4) {
            flex-basis: 31%;
        }        
        .input_block:nth-child(5) {
            flex-basis: 32%;
        }
        /* row 3 */
        .input_block:nth-child(6) {
            flex-basis: 45%;
        }
        .input_block:nth-child(7) {
            flex-basis: 32%;
        }        
        .input_block:nth-child(8) {
            flex-basis: 17%;
        }

        /* row 4 */
        .input_block:nth-child(9) {
            flex-basis: 100%;
        }
        /* row 5 */
        .input_block:nth-child(10) {
            flex-basis: 38%;
        }
        .input_block:nth-child(11) {
            flex-basis: 22%;
        }
        .input_block:nth-child(12) {
            flex-basis: 34%;
        }
        /* row 6 */
        .input_block:nth-child(13) {
            flex-basis: 100%;
        }
    
    }
}

@media (max-width: 475px) {
    .nice_title-mobile {
        width: 100%;
    }
    .footer a {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .content {
        .logo_rock img {
            top: 80px;
        }
    }
}

@media (max-width: 385px) {
    .nice_title-mobile {
        .title {
            font-size: 24px;
            top: 36px;
        }
        .description {
            bottom: -15px;
            font-size: 16px;
        }
    }
    .mt90 {
        margin-top: -10px;
    }
    .footer a {
        font-size: 18px;
    }
}