@font-face {
    font-family: "FbFixar-Black";
    src: url("../fonts/FbFixar-Black.otf") format("opentype");
}
@font-face {
    font-family: "FbFixar-Bold";
    src: url("../fonts/FbFixar-Bold.otf") format("opentype");
}
@font-face {
    font-family: "FbFixar-Regular";
    src: url("../fonts/FbFixar-Regular.otf") format("opentype");
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;    
    min-height: calc(100vh - 20px);
    background: url(../img/bg.png) center center / cover no-repeat;
    font-family: 'FbFixar-Regular';
    direction: rtl;
}
.mt90 {
    margin-top: 90px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header_text_mobile {
    display: none;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    &__text {
        max-width: 450px;
        color: #fff;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
    }
    .logo {
        align-self: flex-start
    }
}

.content {
    border: 1px solid #222222;
    background-color: rgba(255, 255, 255, 0.87);    
    padding: 20px 15px;
    position: relative;
    margin: 20px 0;
    .row {
        display: flex;
        flex-direction: row-reverse;
    }
    .row.row-direction {
        flex-direction: row;
    }
    .col1 {
        flex-basis: 60%;    
    }
    .col2 {
        flex-basis: 40%;
    }
    .logo_rock {
        position: absolute;
        right: 70px;
        top: -140px;
    }
}

.info {
    margin-top: 20px;
    display: flex;    
    justify-content: center;
    .item {
        margin: 0 45px;
        font-family: 'FbFixar-Black';
        font-size: 24px;
        color: #060707;
        text-align: center;
        span {
            color: #ff1f2b;
            display: block;
            font-weight: 700;
        }
    }
}

.nice_title {
    height: 200px;    
    margin-top: 40px;
    position: relative;
    background: url(../img/bg_text.png) center center / cover no-repeat;
    font-family: 'FbFixar-Black';
    .title {
        position: absolute;
        top: 66px;
        left: 0;
        right: 0%;
        text-align: center;
        font-size: 62px;
        color: #fff;
        font-weight: 400;
        transform: rotate(4deg);
    }
    .description {
        font-size: 32px;
        color: #060707;
        position: absolute;
        bottom: -25px;
        transform: rotate(4deg);
        text-align: center;
    }
}

.orange_block_info {
/*     &:before {
        content: '';        
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;        
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.87);
        transform: rotate(3deg);
    } */
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 30px 10px 0;
    /* background: url(../img/orange_bg.png) center center / contain no-repeat; */
    background: #f47320;
    border: 3px solid #222;
    transform: skew(-5deg, 3deg);
    box-sizing: border-box;
    .title-center {
        text-align: center;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        transform: skew(5deg, -3deg);
        /* margin: auto; */
        span {
            background-color: #ff1f2b;
            font-size: 34px;
            color: #fff;
            font-weight: 400;
            padding: 4px 10px;
            font-family: 'FbFixar-Black';
        }
    }
    ul {
        padding-right: 40px;
        margin: 0;
        transform: skew(5deg, -3deg);        
    }
    li {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        margin: 10px 0;
        color: #fff;
        list-style-image: url(../img/point.png);
    }
}

.flex-form {
    display: flex;
    flex-direction: row-reverse;
    .uploads {
        flex-basis: 30%;
        margin-right: 5px;        
    }
    .inputs {
        flex-basis: 65%;
        .row:first-child .input_block {
            margin-top: 0;
        }
    }
    .col50 {
        flex-basis: 46%;
        margin: 0 2%;
    }
    .col100 {
        flex-basis: 100%;
        display: flex;
    }
    .cols-wrap {
        flex-wrap: wrap;
    }
    .upload_file {
        cursor: pointer;
        height: 104px;
        display: flex;
        flex-direction: column;
        border: 3px solid #222;
        padding: 10px 8px;
        font-weight: 700;
        text-align: center;
        .title {
            font-size: 14px;
            color: #131c25;
            span {
                color: red
            }
            small {
                display: block;
                font-weight: 400;
            }
        }
        .icon_file {
            display: block;
            margin: auto auto 0;            
        }
    }
}
.row.no-flex {
    display: block;
    span {
        display: inline-block;
        vertical-align: middle
    }
}
.checkbox-container {    
    position: relative;  
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin: 8px auto 14px;
    span:first-child {
        margin-right: 30px;
        color: #ff1f2b;
        font-family: "FbFixar-Black";
        font-size: 16px;
        display: inline-block;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: #fff;
            &:hover {
                background: transparent;
            }
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 4px;
        right: 0;
        height: 20px;
        box-sizing: border-box;
        width: 20px;        
        border-radius: 3px;
        border: 3px solid #222;
        background-color: #ffffff;
        &:after {
            content: "";
            position: absolute;
            display: none;    
            left: 4px;
            top: 1px;
            width: 3px;
            height: 7px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);      
        }
    }
    &:hover input ~ .checkmark {
        background-color: #e0e0e0;
    }  
}

.btn_submit {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.74);
    background-color: #03bc07;
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s;
    &:hover {
        transform: translateY(3px)
    }
    &:active {
        box-shadow: none;
    }
}

.input_block {
    position: relative;
    margin: 14px 1%;
    input, textarea {
        display: block;
        padding: 0;
        height: 34px;
        padding: 0 6px;
        border: 3px solid #222;        
        background: none;
        font-size: 14px;
        color: #131c25;
        outline: none;
        width: 100%; 
        box-sizing: border-box;
    }
    textarea {
        min-height: 80px;
        resize: vertical;
        padding: 6px 4px;
    }
    label {
        display: block;
        position: absolute;
        top: 9px;
        right: 0;
        box-sizing: border-box;
        padding-right: 9px;
        width: 100%; 
        font-size: 14px;
    }
    label span {
      color: red
    }
}
.inputs__row {
    flex-wrap: wrap;
    /* row 1 */
    @for $i from 1 through 5 {
        .input_block:nth-child(#{$i}) {
            flex-basis: 20%;
        }
    }
    .input_block:nth-child(3) {
        flex-basis: 10%;
    }

    /* row 2 */
    .input_block:nth-child(6) {
        flex-basis: 25%;
    }
    .input_block:nth-child(7) {
        flex-basis: 21%;
    }
    .input_block:nth-child(8) {
        flex-basis: 12%;
    }
    .input_block:nth-child(9) {
        flex-basis: 34%;
    }

    /* row 3 */
    .input_block:nth-child(10) {
        flex-basis: 45%;
    }
    .input_block:nth-child(11) {
        flex-basis: 15%;
    }
    .input_block:nth-child(12) {
        flex-basis: 34%;
    }
    /* row 4 */
    .input_block:nth-child(13) {
        flex-basis: 100%;
    }

}
.item-sm {
    flex-basis: 120px;
}
.item-bg {
    flex-basis: 380px;
}
.has_value + label, .has_value + label span {
  color: transparent;
}

.information {
    margin-top: 20px;
    color: #ff1f2b;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.footer {
    .links {
        display: flex;
        flex-direction: row-reverse;
        list-style: none;
        justify-content: flex-end;
        padding: 0;
    }
    li {
        margin: 0 10px;
    }
    a {
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 28px;
        &:hover {
            text-decoration: underline
        }
    }
}

@import 'media';